* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
.container {
	width: 100%;
	height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr;
}
.topBar {
	grid-row: 1;
	border-bottom: 2px solid #ccc;
}
